<header>
    <img src="assets/img/img1.jpg"
    alt="Priscila Silva - iprih"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Priscila Silva - iprih</h1>

</header>

<aside>
    <div class="container">
        <p>Analista de Engenharia de Software <br>
        Guarulhos - São Paulo</p> 

    <nav>
        <ul>
            <li>                
                <a href="https://www.linkedin.com/in/silva-priscila/" target="_blank" class="btn btn-one">
                    LinkedIn
                </a>
            </li>

            <li>
                <a href="https://github.com/iprih" target="_blank" class="btn btn-one">                    Github
                </a>
            </li>

        </ul>
    </nav>

<!--    <section>
        <figure>

            <figcaption>
                <a href="https://www.whatsapp.com/?lang=pt_BR"
                    target="_blank"
                    >
                    <img
                    src="assets/icons/linkedin.png"
                    alt="Icone whatsapp"
                    width="31px"
                    height="31px"
                    />
             
                </a>
            </figcaption>

            
        </figure>



        <figure>
            <img
            src="assets/icons/whatsapp.png"
            alt="IconeEMAIL"
            width="31px"
            height="31ox"
            />
            <figcaption>
                <a href="malito:priscila.silva076@gmail.com"
                    target="_blank"
                    >
                    <strong> Envie uma e-mail</strong>
                    <p>priscila.silva076&#64;gmail.com</p>                
                
                </a>
            </figcaption>




        </figure>
    </section>
-->
    
</div>
</aside>