:root {
    --primary: #4e065f;
    --primary-010: #4f065f5c;

    --secondary: hsl(259, 33%, 41%);
    --secondary-10: hsl(270, 33%, 41%);

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;    
}